.jorina{

    margin-left:550px
}
.home{

    margin-left: 500px;
}
.about{
    margin-left: 10px;
}
.contact{
    margin-left: 10px;
}
.Features{
    margin-left: 10px;
}
.cover{
    margin-top: 10px;
}
.new{
    height: 300;width: 300;
}
.chobi{
border-style:ridge

}
.text{

    margin-left: 530px; 
    font-weight: 400;
}