body{
    background-color: rgb(255, 235, 205);
}

.jorina{

    margin-left:550px
}

.home:hover{
color: blue;
}
.home{

    margin-left: 500px;
}
.about{
    margin-left: 10px;
}
.about:hover{
    color: blue;
}
.contact{
    margin-left: 10px;
}
.contact:hover{
color: blue;
}
.Features{
    margin-left: 10px;
}
.Features:hover{
    color: blue;
}
.cover{
    margin-top: 10px;
}
.new{
    height: 300;
    width: 300;
}
.chobi{
border-style:ridge

}
.text{

    margin-left: 530px; 
    font-weight: 400;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;

}
.blog{
background-color:rgb(0, 255, 255);
height: 300px;
width: 350px;
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
}
.work{
    display: flex;
flex-direction: column;
align-items: center;
}
.hand{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.shop:hover{
    background-color: red;
}
    
